.social-media-container {
    position: fixed;

    top: 50%;
    right: 30px;

    transform: translateY(-50%);

    background-color: rgba(201, 194, 194, 0.1);
    backdrop-filter: blur(15px);

    border-top:    2px solid rgba(255, 255, 255, 0.1);
    border-right:   2px solid rgba(255, 255, 255, 0.1);

    border-radius: 10px;

    transition: 0.5s;
}

.social-media-container li a {
    display: inline-block;
    margin: 5px 0;
}

.social-media-container:hover {
    border-top:  2px solid rgba(255, 255, 255, 0.699);
    border-right: 2px solid rgba(255, 255, 255, 0.699);
    /* box-shadow: 1px 0px 10px 1px rgba(201, 194, 194, 0.726); */
    box-shadow: 0px 0px 10px 5px rgb(173, 143, 133);
    transition: 0.5s;
}

.social-media-logo {
    width: 35px;
}