.company-name {
    font-size: 35px;
}

.profExp-container {
    width: 100%;
}

.profExp {
    width: 100%;
    display: flex;
}

li {
    list-style-type: none;
}

.profExp-company {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background: rgb(173, 255, 47, 0.5); */
    /* border-top: 1px solid rgba(173, 255, 47, 0.5); */
    /* border-left: 1px solid rgba(173, 255, 47, 0.5); */

    border-radius: 10px;

}

.company-logo {
    margin-left: 5px;
    width: 80px;
    height: 80px;
}

.profExp-activities {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background: rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-left: 1px solid rgba(255, 255, 255, 0.1); */

    border-radius: 10px;
}

.profExp-acivities-description-paragraph {
    width: 550px;
}