aside {
    width: 250px;
}

.profile-picture-container {
    width: 250px;

    border-radius: 50%;
}

.profile-picture {
    width: 100%;

    border-radius: 50%;

    transition: 0.5s;
}

.profile-picture:hover {
    border-radius: 35%;

    transition: 0.5s;
}

.bio-container {
    margin-left: 15px;
    margin-right: 15px;

    width: 550px;
}

.bio-title {
    color: white;
}

.bio-paragraph {
    color: white;

    font-size: 17px;
}