* {
  padding: 0;

  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to bottom right, #100f1f 10%,  #2d1d38 90%);
  /* height: 10%; */

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);

  color: white;
}

.App-main {
  /* background-image: linear-gradient(to bottom right, #1f170f 10%,  #6e3f13 90%); */
  /* background-image: linear-gradient(to bottom right, #2b302b 10%,  #f70000 90%); */
  /* background-image: linear-gradient(to bottom right, #2b302b 10%, #a400d6 100%, #f70000 90%); */
  background-image: linear-gradient(to bottom right, #100f1f 10%,  #2d1d38 90%);

  min-height: 100vh;

  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer {
  background-image: linear-gradient(to bottom right, #100f1f 10%,  #2d1d38 90%);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  width: 100%;

  position: fixed;
  bottom: 0;

  color: white;
}

.copyright {
  font-size: 12px;
  float: left;
}